body {
  @apply flex flex-col min-h-screen
}

.btn {
  @apply inline-flex flex-nowrap items-center justify-center whitespace-nowrap rounded-full
}

.disabled {
  @apply opacity-30 pointer-events-none
}

.control-check {
  @apply mt-0.5 h-4 w-4 border focus:ring-offset-0 focus:ring mr-2 checked:hover:bg-green-500 checked:focus:bg-green-500 transition
}

.control-input {
  @apply block w-full rounded-full mb-2 placeholder-blue-900/40 h-10 text-blue-900 text-lg px-5 transition
}

.control-textarea {
  @apply block w-full rounded-xl mb-2 placeholder-blue-900/40 text-blue-900 text-lg p-5 transition
}

.modal-open {
  @apply z-[-1] overflow-hidden fixed w-screen
}

.modal-backdrop {
  @apply fixed top-0 left-0 z-40 w-full h-full pointer-events-none bg-blue-900/50
}

body:not(.modal-open) .modal-backdrop {
  @apply hidden
}

.modal:not(.shown) {
  @apply hidden
}

.modal {
  @apply fixed bottom-0 left-0 z-40 w-full h-full flex justify-center items-center opacity-0 scale-95 transition duration-300 max-h-[calc(100vh-5rem)] my-10
}

body.modal-open .modal {
  @apply opacity-100 scale-100
}

.modal-content {
  @apply bg-white py-8 px-12 rounded-xl w-11/12 max-w-[420px] relative max-h-full overflow-y-auto overflow-x-hidden
}

table {
  @apply border-collapse
}

table th {
  @apply border-b border-gray-300 p-3
}

table td {
  @apply border-b border-gray-300 p-3
}

table caption {
  caption-side: bottom;
}

.jumbotron {
  background: linear-gradient(360deg, rgba(239,239,239,1) 0%, rgba(243,243,243,1) 8%, rgba(232,232,232,1) 8%, rgba(247,247,247,1) 100%);
}
